
<fieldset>
    <div class="form-horizontal">
        <div class="editor-label">
            Campaign Name
        </div>
        <div class="editor-label">
            <input type="text" id="txtCampaignName" />
        </div>

        <div class="editor-label">
            Affiliate Name
        </div>
        <div class="editor-label">
            <input type="text" id="txtAffiliateName" />
        </div>

        <div class="editor-label">
            <br />
            <input class="btn-default" type="button" id="btnSave" value="Save" />
        </div>
    </div>
</fieldset>


<script src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript">
    
        
        //var click = { "CampaignName": CampaignName, "AffiliateName": AffiliateName };
        

        $("#btnSave").click(function () {
            var click = { "CampaignName": $('#txtCampaignName').val(), "AffiliateName": $('#txtAffiliateName').val() };
            var jsonOfClick = JSON.stringify(click);

            $.ajax(
            {
                type: "POST", //HTTP POST Method
                url: "AddClick", // Controller/View
                data: jsonOfClick,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                //processData: false,
                async: false
            });
        });
   
</script>
