<div ng-app="app">
    <div ng-controller="ClicksTrackerController">
        <h1> lists </h1>
        <!-- Show existing friends. -->
        <div>
            <input id="btnFrmAdd" type="button" value="Add Click" onclick="showFrmAdd()"/>
        </div>
        <table id="tblCliks" class="table">
            <thead>
                <tr>
                    <th>CampaignName</th>
                    <th>Date</th>
                    <th>Clicks</th>
                    <th>Conversions</th>
                    <th>Impressions</th>
                    <th>AffiliateName</th>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="click in clicks">
                    <td>{{ click.CampaignName }}</td>
                    @*<td>{{ click.Date }} </td>*@
                    <td>{{ click.Clicks }} </td>
                    <td>{{ click.Conversions }} </td>
                    <td>{{ click.Impressions }} </td>
                    <td>{{ click.AffiliateName }} </td>
                    
                    <td><a ng-click="getClick( click )">Details</></td>
                    <td><a ng-click="removeClick( click.ID )">Delete</a></td>
                </tr>
            </tbody>
        </table>
        <!-- Add a new friend to the list. -->
        <div id="frmAdd">
            <form class="form-group" ng-submit="addClick( form )">
                <label for="title">CampaignName</label>
                <input class="form-control" name="title" type="text" ng-model="form.CampaignName" size="20" /> <br />
                <label for="desc">Clicks</label>
                <input class="form-control" name="desc" type="number" ng-model="form.Clicks" size="20" /> <br />
                <label for="price">Conversions</label>
                <input class="form-control" name="price" type="number" ng-model="form.Conversions" size="20" /> <br />
                <label for="cat">Impressions</label>
                <input class="form-control" name="cat" type="number" ng-model="form.Impressions" size="20" /> <br /><br />
                <label for="cat">AffiliateName</label>
                <input class="form-control" name="cat" type="text" ng-model="form.AffiliateName" size="20" /> <br /><br />
                <input class="btn" type="submit" value="Add Click" />
            </form>
        </div>

        <div id="clickDetails">
            <span>Click Details</span>
            <table id="tblCliks" class="table">
                <thead>                    
                    <tr>                        
                        <th>Title</th>
                        <td>Value</td>
                    </tr>
                </thead>
                <tbody ng-model="click">
                    <tr><td>CampaignName: </td><td>{{ click.CampaignName }}</td></tr>
                    <tr><td>Date: </td><td>{{ click.Date }} </td></tr>
                    <tr><td>Clicks: </td><td>{{ click.Clicks }} </td></tr>
                    <tr><td>Conversions: </td><td>{{ click.Conversions }} </td></tr>
                    <tr><td>Impressions: </td><td>{{ click.Impressions }} </td></tr>
                    <tr><td>AffiliateName: </td><td>{{ click.AffiliateName }} </td></tr>
                    <tr><td><input type="button" value="Edit" ng-click="updateClickFields( click )" /></td></tr>
                </tbody>
            </table>
        </div>

        <div id="clickUpdate">
            <span>Click Details</span>
            
            <form class="form-group" ng-submit="addClick( click )">
                <label for="title">Old CampaignName: {{ click.CampaignName }}</label>
                <input class="form-control" name="title" type="text" ng-model="form.CampaignName" size="20" /> <br />
                <label for="desc">Old Clicks: {{ click.Clicks }}</label>
                <input class="form-control" name="desc" type="number" ng-model="form.Clicks" size="20" /> <br />
                <label for="price">Old Conversions: {{ click.Conversions }}</label>
                <input class="form-control" name="price" type="number" ng-model="form.Conversions" size="20" /> <br />
                <label for="cat">Old Impressions: {{ click.Impressions }}</label>
                <input class="form-control" name="cat" type="number" ng-model="form.Impressions" size="20" /> <br /><br />
                <label for="cat">Old AffiliateName: {{ click.AffiliateName }}</label>
                <input class="form-control" name="cat" type="text" ng-model="form.AffiliateName" size="20" /> <br /><br />
                <input class="btn" type="submit" value="Update Click" />
            </form>
        </div>
        <!-- Initialize scripts. -->
        <!-- SignalR-->
        @section Scripts{
        <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
        <script src="/signalr/hubs"></script>
        <script type="text/javascript">
            $(function () {
                $("#frmAdd").hide();
                $("#clickDetails").hide();
                $("#clickUpdate").hide();
            });

            function showFrmAdd() {
                var form = $("#frmAdd");
                form.show();
                form.dialog();
                form.focus();
            }
        </script>
        }
        <!-- AngularJS -->
        <script type="text/javascript" src="~/Scripts/app/angular.min.js"></script>
        <script type="text/javascript" src="~/Scripts/app/server/controllers.js"></script>
    </div>
</div>