@{
    ViewBag.Title = "Home Page";
}


<div class="row">
   
        <div class="col-md-12">
            <div id="clicksTable"></div>
        </div>   
</div>

@section Scripts{
    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="/signalr/hubs"></script>


    <script type="text/javascript">
    $(function () {
        // Declare a proxy to reference the hub.
        var clicksTracker = $.connection.ClicksTrackerHub;

        //debugger;
        // Create a function that the hub can call to broadcast messages.
        clicksTracker.client.updateClicksTracker = function () {
            getAllClicks();
        };
        // Start the connection.
        $.connection.hub.start().done(function () {
            alert("SignalR Connection: STARTED")
            getAllClicks();
        }).fail(function (e) {
            alert(e);
        });
    });


    function getAllClicks()
    {
        var tbl = $('#clicksTable');
        $.ajax({
            url: '/Home/GetClicks',
            contentType: 'application/html ; charset:utf-8',
            type: 'GET',
            dataType: 'html'
        }).success(function (result) {
            tbl.empty().append(result);
        }).error(function () {

        });
    }

    
    </script>
}