@{
    ViewBag.Title = "Home Page";
}


<div class="row">
   
        <div class="col-md-12">
            <div id="clicksTable"></div>            
        </div>   
</div>

@section Scripts{
    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="/signalr/hubs"></script>


    <script type="text/javascript">
    $(function () {
        // Declare a proxy to reference the hub.
        var connection = $.connection;
        var hub = $.connection.ClicksTrackerHub;            

        //debugger;
        // Create a function that the hub can call to broadcast messages.
        hub.client.updateClicksTracker = function () {
            getClicks();
        };
        // Start the connection.
        connection.hub.start().done(function () {
            //alert("SignalR Connection: STARTED")
            getClicks();
        }).fail(function (e) {
            alert(e);
        });
    });


    function getClicks()
    {
        var tbl = $('#clicksTable');
        $.ajax({
            url: 'api/ClicksTracker/',
            type: 'GET',
            contentType: "application/json; charset=utf-8",
        }).success(function (result) {
            tbl.empty().append(result);
        }).error(function (xhr, status, error) {
            alert("Error: " + xhr.responseText);
        });
    }
    
    </script>
}